# Bazel configurations

## Host platform

build --compilation_mode=opt
build --copt="-Werror"
build --cxxopt=-std=c++17
build --incompatible_default_to_explicit_init_py  # for upkie imports

coverage --combined_report=lcov
coverage --compilation_mode=opt
coverage --copt="-Werror"
coverage --copt="-Wno-builtin-macro-redefined"
coverage --copt="-Wno-deprecated-declarations"
coverage --cxxopt=-std=c++17
coverage --instrument_test_targets

test --compilation_mode=opt
test --copt="-Werror"
test --copt="-Wno-builtin-macro-redefined"
test --copt="-Wno-deprecated-declarations"
test --cxxopt=-std=c++17
test --incompatible_default_to_explicit_init_py  # for upkie imports
test --test_output=errors
test --test_tag_filters=-lint

## Linter

# Usage: bazel test --config lint //...
test:lint --build_tests_only
test:lint --test_tag_filters=lint

## Target platform: 32-bit Raspberry Pi OS

build:pi32 --compilation_mode=opt
build:pi32 --compiler=clang
build:pi32 --copt="-Wno-error=macro-redefined"
build:pi32 --cpu=armeabihf
build:pi32 --crosstool_top=@rpi_bazel//tools/cc_toolchain:toolchain

test:pi32 --compilation_mode=opt
test:pi32 --compiler=clang
test:pi32 --copt="-Wno-error=macro-redefined"
test:pi32 --cpu=armeabihf
test:pi32 --crosstool_top=@rpi_bazel//tools/cc_toolchain:toolchain
test:pi32 --test_output=errors

# Target platform: 64-bit Raspberry Pi OS

build:pi64 --compilation_mode=opt
build:pi64 --compiler=clang
build:pi64 --copt="-Wno-error=macro-redefined"
build:pi64 --cpu=aarch64
build:pi64 --crosstool_top=@rpi_bazel//tools/cc_toolchain:toolchain

test:pi64 --compilation_mode=opt
test:pi64 --compiler=clang
test:pi64 --copt="-Wno-error=macro-redefined"
test:pi64 --cpu=aarch64
test:pi64 --crosstool_top=@rpi_bazel//tools/cc_toolchain:toolchain
test:pi64 --test_output=errors

# Target platform: Mac OSX arm64

build:darwin_arm64 --compilation_mode=opt
build:darwin_arm64 --compiler=clang
build:darwin_arm64 --copt="-Wno-deprecated-declarations"
build:darwin_arm64 --copt="-Wno-shorten-64-to-32"
build:darwin_arm64 --copt="-Wno-single-bit-bitfield-constant-conversion"
build:darwin_arm64 --copt="-Wno-unused-but-set-variable"
build:darwin_arm64 --cpu=darwin_arm64
build:darwin_arm64 --macos_minimum_os=11.5

# Target platform: Mac OSX x86

build:darwin_x86 --compilation_mode=opt
build:darwin_x86 --compiler=clang
build:darwin_x86 --copt="-Wno-deprecated-declarations"
build:darwin_x86 --copt="-Wno-shorten-64-to-32"
build:darwin_x86 --copt="-Wno-single-bit-bitfield-constant-conversion"
build:darwin_x86 --copt="-Wno-unused-but-set-variable"
build:darwin_x86 --cpu=darwin_x86_64
build:darwin_x86 --macos_minimum_os=11.5
