*.egg-info
.pixi
__pycache__
activate.sh
bazel-*
cache/
dist/
docs/html/
env/
environment.tar
logs/**/*.0
logs/**/*.csv
logs/**/*.mpack
logs/**/*.pkl
logs/**/*.txt
logs/**/*.yml
logs/**/*.zip
sandbox/
tools/bazel
wiki/
