*.egg-info
.pixi
__pycache__
activate.sh
bazel-*
cache/
dist/
docs/html/
env/
environment.tar
logs/
sandbox/
tools/bazel
tools/logs/**/*.0
tools/logs/**/*.csv
tools/logs/**/*.mpack
tools/logs/**/*.pkl
tools/logs/**/*.txt
tools/logs/**/*.yml
tools/logs/**/*.zip
uv.lock
wiki/
